/* FONT FAMILY */
/* FONT SIZE */
/* BASE COLOR VARIABLES */
/* FONT COLOR VARIABLES */
/* BACKGROUND COLOR VARIABLES */
/* BUTTON COLOR VARIABLES */
/* FLUID TYPOGRAPHY MIXINS */
/* FLEXBOX MIXINS */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&display=swap");
html {
  width: 100vw;
  max-width: 100vw;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 12rem;
  width: 100%;
  background-color: #99b6ba;
}
header h1 {
  text-align: center;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

section {
  position: relative;
  width: 100%;
  padding: 6rem 3rem;
}
section::after {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 60%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
}
section:last-child::after {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 12rem;
  width: 100%;
  background-color: #99b6ba;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.618;
}

h1 {
  font-size: 36px;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc( 36px + 32 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 68px;
  }
}

h2 {
  font-size: 28px;
}
@media screen and (min-width: 320px) {
  h2 {
    font-size: calc( 28px + 14 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 42px;
  }
}
h2.lg {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  h2.lg {
    font-size: calc( 30px + 26 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  h2.lg {
    font-size: 56px;
  }
}

h3 {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc( 20px + 6 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  h3 {
    font-size: 26px;
  }
}

h4 {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  h4 {
    font-size: calc( 14px + 2 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  h4 {
    font-size: 16px;
  }
}

p {
  line-height: 1.6;
}
p {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  p {
    font-size: calc( 14px + 2 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  p {
    font-size: 16px;
  }
}
p.lg {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  p.lg {
    font-size: calc( 16px + 2 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  p.lg {
    font-size: 18px;
  }
}
p.sm {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  p.sm {
    font-size: calc( 12px + 2 * ((100vw - 320px) / 1120) );
  }
}
@media screen and (min-width: 1440px) {
  p.sm {
    font-size: 14px;
  }
}

a {
  position: relative;
  color: #99b6ba;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:after {
  position: absolute;
  content: "";
  background-color: #c7cdab;
  left: 50%;
  bottom: 0;
  height: 0;
  width: 110%;
  transform: translateX(-50%);
  transition: height 0.3s ease-in-out;
  z-index: -1;
}
a:hover {
  color: #333;
}
a:hover:after {
  height: 50%;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  background-color: #ccc;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.btn--blue {
  background-color: #99b6ba;
}
.btn--green {
  background-color: #c7cdab;
}
.btn:hover {
  background-color: #b3b3b3;
}
.btn:hover.btn--blue {
  background-color: #7ba0a5;
}
.btn:hover.btn--green {
  background-color: #b2ba8b;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headings__main {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.paragraphs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.paragraphs__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.paragraphs__box {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .paragraphs__wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }
  .paragraphs__box {
    width: 33.333333%;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.links p {
  max-width: 800px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}