.headings {
  @include flex-center-column;

  &__main {
    @include flex-center;
    justify-content: space-evenly;
  }
}

.paragraphs {
  @include flex-center-column;

  &__wrap {
    @include flex-center-column;
  }

  &__box {
    padding: 15px;
  }

  @media screen and (min-width: 768px) {
    &__wrap {
      @include flex-center-horiz;
      flex-direction: row;
      align-items: flex-start;
    }

    &__box {
      width: 33.333333%;
    }
  }
}

.links {
  @include flex-center-column;

  p {
    max-width: 800px;
  }
}

.buttons {
  @include flex-center-column;
}
