/* HEADING STYLES */
h1,
h2,
h3,
h4 {
  font-family: $font-family_headings;
  line-height: 1.618;
}

h1 {
  @include fluid-font(320px, 1440px, 36px, 68px);
}

h2 {
  @include fluid-font(320px, 1440px, 28px, 42px);
  &.lg {
    @include fluid-font(320px, 1440px, 30px, 56px);
  }
}

h3 {
  @include fluid-font(320px, 1440px, 20px, 26px);
}

h4 {
  @include fluid-font(320px, 1440px, 14px, 16px);
}

/* PARAGRAPH STYLES */
p {
  @include fluid-font(320px, 1440px, 14px, 16px);
  line-height: 1.6;

  &.lg {
    @include fluid-font(320px, 1440px, 16px, 18px);
  }

  &.sm {
    @include fluid-font(320px, 1440px, 12px, 14px);
  }
}

/* LINK STYLES */
a {
  position: relative;
  color: $blue;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:after {
    position: absolute;
    content: "";
    background-color: $bg_green;
    left: 50%;
    bottom: 0;
    height: 0;
    width: 110%;
    transform: translateX(-50%);
    transition: height 0.3s ease-in-out;
    z-index: -1;
  }

  &:hover {
    color: $font_color;
    &:after {
      height: 50%;
    }
  }
}
